<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

        function GeterateRides() {
            $.get("/api/Client/getRides", function (data, status) {
                let displayRides = "<div class=row>";
                for (item in data) {
                    displayRides += `<div style="border-style: groove"><div style="border-style: outset">RideID: <input disabled="disabled" id="RideID_${data[item].ID}" value ="${data[item].ID}"/></div>`;
                    displayRides += `<table><tr><td style="padding:0 15px 0 15px;">Status</td><td style="padding:0 15px 0 15px;">Location</td><td style="padding:0 15px 0 15px;">Destination</td><td style="padding:0 15px 0 15px;">Price</td></tr>`;
                    displayRides += `<tr><td style="padding:0 15px 0 15px;">${data[item].Status}</td><td style="padding:0 15px 0 15px;">${data[item].Location.StreetName} ${data[item].Location.Place}</td><td style="padding:0 15px 0 15px;">${data[item].Destination.StreetName} ${data[item].Destination.Place}</td><td style="padding:0 15px 0 15px;">${data[item].Price}</td><td style="padding:0 15px 0 15px;"><div id=updateStatusBtn${data[item].ID}></div></td></tr></table>`;
                    displayRides += `<div id="CommentSection${data[item].ID}"></div></div><br/><br/><br/><br/>`;
                }

                displayRides += `</div>`;
                $('#taxiRides').html(displayRides);
                for (item in data) {
                    let currentComment = `#CommentSection${data[item].ID}`;
                    let currentOption = `#updateStatusBtn${data[item].ID}`;
                    let btnHtml = "";
                    if (data[item].Status == "Created") {
                        btnHtml += `<button id="AcceptRideBtn" name="${data[item].ID}" class="btn btn-default">Accept</button>`;
                        $(currentOption).html(btnHtml);
                    }
                    if (data[item].Status == "Accepted" || data[item].Status == "Processed" ) {
                        btnHtml += `<button id="CompleteRideBtn" name="${data[item].ID}" class="btn btn-default">Complete</button>`;
                        $(currentOption).html(btnHtml);
                    }
                    if (data[item].Status == "Unsuccessful") {
                        $.get("/api/Driver/getComment" + data[item].ID, function (commentData, status) {
                            let commentDiv = `<div style="border-style: inset;left: 30px"><div>Comment</div"`;
                            commentDiv += `<div><table><caption>${commentData.ClientID.Username}</caption>`;
                            commentDiv += `<tr><td>Comment</td><td><textarea readonly="readonly">${commentData.Summary}</textarea></td></tr>`;
                            commentDiv += `<tr><td>Stars: </td><td>${commentData.Starts}</td></tr></table>`;
                            commentDiv += `<p style="text-indent: 80%">${commentData.CommentDate}</p></div></div>`;
                            $(currentComment).html(commentDiv);
                        });
                    }
                }
            });
        }

        $(document).ready(function () {
            $('#updateRides').click(function () {
                $.GeterateRides();
            });

        });
    </script>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand">TAXI SERVICE</a>
    </div>
    <div class="navbar-header">
        <button class="navbar-default" id="updateRides">Check for rides</button>
    </div>
</div>
<div id="taxiRides"></div>