<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $('document').ready(function () {
            $('#login').click(function() {
                let data = {
                    Username: $('#username').val(),
                    Password: $('#password').val()
                }
                $.post("/api/Default/ValidateLogin", data)
                    .done(function (loggedUser) {
                        var path = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
                        window.location.replace(path + "Taxi");
                    }).
                    fail(function (retdata) {
                        alert(retdata);
                    });
            });
        });
    </script>
</head>


<div class="row">
    <div class="col-md-10">
        <label>Username: </label>
        <input type="text" id="username" name="username" />
    </div>
    <div class="col-md-10">
        <label>Password: </label>
        <input type="text" id="password" name="password" />
    </div>
    <div class="col-md-10">
        <input type="submit" id="login" name="login" value="Login" class="btn btn-default btn-lg"/>
    </div>

</div>
