<html>
<head>
    <style>
        .split{
            padding-top: 20px;
            height: 100%;
            width: 50%;
            position:fixed;
            top:0;
            overflow-x: hidden;
            z-index:1;
        }
        .left{
            left: 0;
        }
        .right{
            right:0;
        }
        .centered{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="split left">
        <div class="centered">
            <h3>Client</h3>
            <p>Join our community and get access to our service</p>
            @Html.ActionLink("Create account", "Register", "Home",new { id = 1 },new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="split right">
        <div class="centered">
            <h3>Rider</h3>
            <p>Become a Taxi rider and enjoy the benefits of having a job</p>
            @Html.ActionLink("Join now", "Register", "Home", new { id = 2 }, new { @class = "btn btn-default" })
        </div>
    </div>
</body>
</html>